table.code {
	font-family: monospace;
	border-collapse: collapse;
	padding: 5px;
}

table.code tr, table.code td {
	border: none;
	padding: 0px;
	text-align: left;
}

table.code td.linenumber {
	padding-right: 15px;
	padding-left: 5px;
	text-align: right;
}

pre.code {
	white-space: pre-wrap;
	margin: 0px;
	padding: 0px;
	background: transparent;
	border: none;
}

table.code td.linenumber a {
	color: #a89984;
	text-decoration: none;
	width: 100%;
}

table.code td.linenumber a:hover {
	color: #282828;
}
