.git-show {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.git-line-added { color: #b8bb26; }
.git-line-removed { color: #fb4934; }
.git-line-context { color: #a89984; }

.git-diff-plus { color: #b8bb26; font-weight: bold; }
.git-diff-minus { color: #fb4934; font-weight: bold; }
.git-hash { color: #8ec07c; }
.git-commit { color: #83a598; }
.git-author { color: #b8bb26; }
.git-date { color: #d3869b; }

.git-file-a { color: #fb4934; }
.git-file-b { color: #b8bb26; }

.git-hunk-header { color: #d3869b; }
.git-hunk { color: #83a598; }
.git-hunk-new { color: #b8bb26; }
.git-hunk-old { color: #fb4934; }

.git-index { color: #d3869b; }
.git-index-old { color: #fb4934; }
.git-index-new { color: #b8bb26; }
.git-index-mode { color: #a89984; }

.git-file-path--- { color: #fb4934; }
.git-file-path-\+\+\+ { color: #b8bb26; }
.git-file-location { color: #83a598; }
.git-file-name { color: #ebdbb2; }

.git-tag { color: #fe8019 }
.git-tag-name { color: #fabd2f; }
.git-tag-object-label { color: #83a598; }
.git-tag-object-hash { color: #8ec07c; }
.git-tag-type-label { color: #83a598; }
.git-tag-type { color: #d3869b; }
.git-tag-tagger-label { color: #83a598; }
.git-tag-tagger-name { color: #b8bb26; }
.git-tag-tagger-email { color: #fe8019; }
.git-tag-tagger-date { color: #d3869b; }
.git-tag-message { color: #ebdbb2; }
