/* I'm HORRIBLE at plain css, so you really should write your own */

@import url("/static/git-show.css");
@import url("/static/code.css");

* {
  border-color: #504945;
}
a {
  color: #458588;
  line-height: 1;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover {
  background-color: #eddbb2;
  color: #282828;
  text-decoration-color: #ebdbb2;
}
a:visited {
  color: #d3869b;
}
body {
  color: #ebdbb2;
  overflow-x: hidden;
}
html {
  background-color: #000000;
  background-image: url("/static/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
input,
textarea {
  background-color: #282828;
  color: #ebdbb2;
}
blockquote,
pre {
  background-color: #282828;
  color: #ebdbb2;
}

body.user {
  margin: 0;
  width: full;
  height: full;
}

main {
  max-width: 110ch;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #1d2021;
  padding: 2rem;
}

img {
  max-width: 100%;
}

header {
  max-width: 110ch;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #1d2021;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header img {
  max-height: 100px;
  height: auto;
}

header h1 {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table.breadcrumbs {
  width: fit-content;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table,
th,
td {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  text-align: left;
}

pre {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  overflow-x: scroll;
}

.filemode {
  font-family: monospace;
}

.isbinary {
  font-family: monospace;
}

.isbinary#sub {
  color: #d8a657;
}

.isbinary#bin {
  color: #be5046;
}

.tree-dir {
  color: #8ec07c;
}

.tree-dir {
  color: #8ec07c;
}

@media (min-width: 768px) {
  body main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  body {
    padding: 2rem;
  }
}
