table.code {
	font-family: monospace;
	border-collapse: collapse;
	padding: 5px;
}

table.code tr, table.code td {
	border: none;
	padding: 0px;
	text-align: left;
	white-space: pre;
	word-wrap: break-word;
	text-wrap: auto;
}

table.code td.linenumber {
	user-select: none;
	padding-right: 15px;
	padding-left: 5px;
	text-align: right;
}

table.code td.linenumber a {
	color: #a89984;
	text-decoration: none;
	width: 100%;
}

table.code td.linenumber a:hover {
	color: #282828;
}
